<p id="notice"><%= notice %></p>

<h1>Ticket Types</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Zone</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_types.each do |tt| %>
      <tr>
        <td><%= Event.find(tt.event_id).name %></td>
        <td><%= TicketZone.find(tt.ticket_zone_id).zone %></td>
        <td><%= tt.price %></td>
        <td><%= link_to 'Show', tt %></td>
        <td><%= link_to 'Edit', edit_ticket_type_path(tt) %></td>
        <td><%= link_to 'Destroy', tt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Type', new_ticket_type_path %>