<h1>Receipt</h1><br>

<% total = 0 %>
<p><%= DateTime.now %></p><br>
<table>
  <tr>
    <th>Event</th>
      <th>Date</th>
      <th>Ticket</th>
      <th>Price   </th>
      <th>Amount</th>
  </tr>

  <tbody>
    <% @cart.each do |k,v|%>
      <tr>
        <td><%= Event.find(TicketType.find(k).event_id).name %></td>
        <td><%= Event.find(TicketType.find(k).event_id).start_date.in_time_zone() %></td>
        <td><%= TicketZone.find(TicketType.find(k).ticket_zone_id).zone %></td>
        <td><%= TicketType.find(k).price %></td>
        <td><%= v %></td>
        <% total += v*TicketType.find(k).price %>
    <% end %>
  </tbody>
</table>

<br><h4>Total: <%= total %></h4>